*.builtin
*.cmd
*.o
*.order
*.mod.c
*.module
*.ko
!kernel/drivers/hwe/prebuilt/mtk_hwe_init.o
!kernel/drivers/hwver/prebuilt/hwver.o
!kernel/drivers/mdrvb/prebuilt/sec_drvb.o
/hardware/audio/custom
/hardware/camera/custom/common
/hardware/camera/custom/inc
/preloader/src/init/inc/preloader.h
/preloader/src/security/inc/KEY_IMAGE_AUTH.h
/preloader/src/security/inc/KEY_SML_AUTH.h
/preloader/src/security/inc/KEY_SML_ENCODE.h
/preloader/src/security/inc/PL_CFG.h
/uboot/libmt*.a
/uboot/.depend
/kernel/drivers/dum-char/part_info.c
/kernel/drivers/dum-char/part_info.h
/kernel/drivers/dum-char/partition_define.c
